<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About | Danilo Fernando Bustos Pérez | Software Engineer and Computer Science</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
	<meta name="description" content="Danilo Bustos Pérez Blog | From Puerto Natales | Chile" />
	<meta name="keywords" content="Danilo, Bustos, Puerto Natales, Puerto, Natales, Patagonia, Software, Engineer" />
	<meta name="author" content="Danilo Bustos Perez" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

	<!-- start:header -->
	<div id="header">
		<div class="overlay">
			<!-- start:header-top -->
			<div class="header-top">
				<div class="text-center">
					<div class="sosmed-header-top">
						<a href="http://www.facebook.com/DaniloBustos"><i class="fa fa-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook"></i></a>
						<a href="http://twitter.com/dbustosp"><i class="fa fa-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter"></i></a>
						<a href="http://plus.google.com/+DaniloBustos/"><i class="fa fa-google-plus" data-toggle="tooltip" data-placement="bottom" title="Google Plus"></i></a>
						<a href="http://github.com/dbustosp/"><i class="fa fa-github" data-toggle="tooltip" data-placement="bottom" title="Github"></i></a>
						<a href="http://www.linkedin.com/pub/danilo-bustos/39/871/649"><i class="fa fa-linkedin" data-toggle="tooltip" data-placement="bottom" title="Linkedin"></i></a>
						<a href="dbustos10"><i class="fa fa-skype" data-toggle="tooltip" data-placement="bottom" title="Skype"></i></a>
					</div>
				</div>
			</div>
			<!-- end:header-top -->
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-lg-offset-4 col-md-4">
						<div class="text-center">
							<div class="user">
								<img src="{{STATIC_URL}}img/user/user.jpg">
							</div>
							<div class="slide-header">
								<h5>Hello, I am Danilo...</h5>
								<div id="owl-header" class="owl-carousel owl-theme">
								  	<div class="item"><h2>a Software Engineer</h2></div>
								  	<div class="item"><h2>a Research Student</h2></div>
								  	<div class="item"><h2>a Sportsman</h2></div>
								  	<div class="item"><h2>a Technology Lover</h2></div>
								</div>
							</div>
							<div class="button-down">
								<i class="fa fa-angle-double-down"></i>
							</div>		
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end:header -->

	<!-- start:navbar -->
	<nav class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"><strong><i class="fa fa-sun-o"></i> Danilo.</strong></a>
			</div>
		
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">HOME</a></li>
					<li><a href="/about">ABOUT</a></li>
				</ul>
				<form class="navbar-form navbar-right" role="search">
					<div class="input-group">
				      	<input type="text" class="form-control" placeholder="Search">
				      	<span class="input-group-btn">
				        	<button class="btn btn-default" type="button">Go!</button>
				      	</span>
				    </div>
				</form>
			</div><!-- /.navbar-collapse -->
		</div>
	</nav>
	<!-- end:navbar -->

	<!-- start:main -->
	<!-- missing main block -->
	<!-- end:main -->
        

	<!-- start:footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="widget-footer">
						<h4 class="title-widget-footer">
							ABOUT
						</h4>
						<p class="content-footer">
							Kagum is a Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						</p>

						<p class="content-footer">
							Laboris nisi ut aliquip ex ea commodo consequat.
						</p>
						<div class="sosmed-footer">
							<a href="#"><i class="fa fa-facebook" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
							<a href="#"><i class="fa fa-twitter" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus" data-toggle="tooltip" data-placement="top" title="Google-Plus"></i></a>
							<a href="#"><i class="fa fa-youtube" data-toggle="tooltip" data-placement="top" title="Youtube"></i></a>
							<a href="#"><i class="fa fa-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin"></i></a>
							<a href="#"><i class="fa fa-skype" data-toggle="tooltip" data-placement="top" title="Skype"></i></a>
							<a href="#"><i class="fa fa-tumblr" data-toggle="tooltip" data-placement="top" title="Tumblr"></i></a>
							<a href="#"><i class="fa fa-reddit" data-toggle="tooltip" data-placement="top" title="Reddit"></i></a>
							<a href="#"><i class="fa fa-dribbble" data-toggle="tooltip" data-placement="top" title="Dribbble"></i></a>
						</div>
					</div>
				</div>

				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="widget-footer">
						<h4 class="title-widget-footer">TAG CLOUD</h4>
						<div class="content-widget-footer">
							<a href="#" class="label label-default">Blog</a>
							<a href="#" class="label label-default">dbustosp</a>
							<a href="#" class="label label-default">Danilo</a>
							<a href="#" class="label label-default">Fernando</a>
							<a href="#" class="label label-default">Bustos</a>
							<a href="#" class="label label-default">Pérez</a>
							<a href="#" class="label label-default">Puerto Natales</a>
							<a href="#" class="label label-default">Patagonia</a>
							<a href="#" class="label label-default">Technology</a>
							<a href="#" class="label label-default">Software</a>
							<a href="#" class="label label-default">Web</a>
							<a href="#" class="label label-default">Puerto</a>
							<a href="#" class="label label-default">Natales</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- end:footer -->
	<!-- start:footer bottom -->
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<p>Copyright © 2014 Danilo Bustos Pérez</p>
				</div>
				<div class="col-lg-4">
					<p class="pull-right">
						<a href="/">HOME</a>
						<a href="/about">ABOUT US</a>
						<a href="#">CONTACT ME</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- end:footer bottom -->

	<!-- start:javascript -->
	<script src="{{STATIC_URL}}js/jquery-1.11.1.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/owl.carousel.min.js"></script>
	<script src="{{STATIC_URL}}js/kagum.js"></script>
	<!-- end:javascript -->

</body>
</html>	
